* {
	padding: 0;
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header {
	background: #fff;
	border: none;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.header_container {
	width: 90%;
}
.header_logo {
	transition: 0.3s all;
	cursor: pointer;
}
.header_logo h2 {
	font-size: 4.5rem;
	font-weight: 600;
	padding: 1.3rem 1rem;
}
.header_logo:hover {
	background: #ffa400;
}
.header_container {
	justify-content: space-between;
}
nav ul {
	list-style: none;
}
nav ul a {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 2.7rem 1.5rem;
	font-weight: bold;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	transition: 0.3s all;
}
nav ul li {
	justify-content: center;
	display: flex;
	align-items: center;
	padding: 1rem 0rem;
}
nav ul li:hover {
	background-color: #ffa400;
}
nav ul li:hover a {
	color: white;
}
#menu {
	display: none;
	cursor: pointer;
}
.fa-bars {
	font-size: 3rem;
	font-weight: 600;
}
/* slider */
.slider_row {
	position: relative;
	height: 100vh;
	width: 100%;
}
.slide {
	/* opacity: 0; */
	position: absolute;
	height: 100vh;
	width: 100%;
}
.slide img {
	object-fit: cover;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slide_container {
	position: absolute;
}
.slide_container h1 {
	font-size: 3.6rem;
	font-weight: 500;
	color: white;
	padding-bottom: 1rem;
	text-align: center;
}
.slide_container h2 {
	font-size: 3rem;
	font-weight: 500;
	color: white;
	padding-bottom: 1rem;
	text-align: center;
}
button.slide_btn {
	background: #ffa400;
	border: none;
	font-size: 2rem;
	text-transform: capitalize;
	padding: 1rem 3rem;
	color: white;
	transition: 0.3s all;
	cursor: pointer;
}
button.slide_btn:hover {
	background-color: white;
	color: #ffa400;
}
/* feature section start */
section {
	position: relative;
}
.feature {
	background: #f9f9f9;
	border-bottom: 1px solid #f0f0f0;
	padding: 6rem 0 6rem 0;
}
.feature_container {
	width: 95%;
}
.feature_header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: auto;
}
.feature_header h2 {
	font-weight: 400;
	font-size: 3rem;
	padding-bottom: 2rem;
}
.feature_header p {
	font-size: 1.5rem;
	text-align: center;
}
.green {
	color: green;
}
.blue {
	color: blue;
}
.feature_row {
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	flex-wrap: wrap;
	gap: 30px;
}
.feature_list {
	width: 23rem;
}
.feature_icon {
	background: #ffa400;
	border-radius: 50%;
	height: auto;
	width: max-content;
	padding: 3.5rem;
	margin-bottom: 2rem;
	transition: 0.3s all;
}
.feature_icon:hover {
	background-color: black;
}
.feature_icon i {
	font-size: 2.5rem;
	color: white;
	cursor: pointer;
}
.feature_icon:hover .fa {
	transform: rotate(360deg);
	transition: 0.3s all;
}
.feature_list h3 {
	font-size: 2.5rem;
	font-weight: 400;
	padding-bottom: 1.5rem;
}
.feature_list p {
	font-size: 1.3rem;
	font-weight: 400;
	text-align: center;
}
/* feature section end */

/* about section start */
.about_container {
	width: 95%;
	padding: 6rem 0 6rem 0;
}
.about_header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 55%;
}
.about_header h2 {
	font-weight: 400;
	font-size: 3rem;
	padding-bottom: 2rem;
}
.about_header p {
	font-size: 1.5rem;
	text-align: center;
}
.about_row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 95%;
}
.about_list {
	width: 50rem;
}
.about_list h3 {
	font-size: 2.5rem;
	font-weight: 400;
}
.about_list b {
	font-weight: 600;
}
.about_list p {
	font-size: 1.4rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.about_list_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}
.about_list_container {
	padding-bottom: 2rem;
}
.about_list_header a {
	font-size: 1.4rem;
}
.about_progress {
	width: 80%;
	background: #c1c1c1;
	height: 8px;
	margin-top: 1rem;
	border-radius: 20px;
}
.html_bar {
	width: 100%;
	background-color: #ffa400;
	height: 8px;
	border-radius: 20px;
}
.css_bar {
	width: 100%;
	background-color: #ffa400;
	height: 8px;
	border-radius: 20px;
}
.photo_bar {
	width: 80%;
	background-color: #ffa400;
	height: 8px;
	border-radius: 20px;
}
.js_bar {
	width: 90%;
	background-color: #ffa400;
	height: 8px;
	border-radius: 20px;
}
/* about section end */

/* our team section start */
.team {
	background: #f9f9f9;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding: 60px 0 60px 0;
}
.team_container {
	width: 95%;
}
.team_header {
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 55%;
}
.team_header h2 {
	font-weight: 400;
	font-size: 3rem;
	padding-bottom: 2rem;
}
.team_header p {
	font-size: 1.5rem;
	text-align: center;
}
.team_row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	width: 95%;
	padding-top: 2rem;
}
.team_list {
	width: 20em;
}
.team_img {
	width: 100%;
	height: 100%;
	transition: 0.3s all;
}
.team_img img {
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition: 0.3s all;
}
.team_img:hover img {
	border-radius: 50%;
	transform: scale(0.9);
	opacity: 0.7;
}
.team_content h4 {
	font-size: 2.5rem;
	font-weight: 500;
	color: #ffa400;
	background: white;
	width: 100%;
	text-align: center;
	padding-top: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}
.team_content p {
	font-size: 1.5rem;
}
/* our team section end */
@media (max-width: 998px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 45%;
	}
	ul.row {
		flex-direction: column;
		position: fixed;
		top: 8.6rem;
		left: 0;
		justify-content: center;
		right: 0rem;
		width: 100%;
		overflow: hidden;
		transition: 0.5s ease;
		border-top: 1px solid #ffa400;
		border-bottom: 1px solid #ffa400;
		z-index: -1;
		transform: translateY(-418px);
		background: white;
	}
	#menu {
		display: block;
	}
	nav ul li {
		width: 100%;
	}
	.about_row {
		flex-wrap: wrap;
	}
	.about_list {
		width: 80%;
	}
	.about_list_header {
		width: 100%;
	}
	.about_progress {
		width: 100%;
	}
	.about_container {
		width: 100%;
	}
	.about_row {
		width: 100%;
	}
	.about_header {
		width: 80%;
	}
	.team_header {
		width: 80%;
	}
}
